#A
{
text-align:center;
color:blue;
}
#B
{
text-align:center;
color:red;
}
#C
{
text-align:center;
color:green;
}
#D
{
text-align:center;
color:orange;
}
#E
{
text-align:center;
color:yellow;
}
#F
{
text-align:center;
color:purple;
}
#G
{
text-align:center;
color:pink;
}
#H
{
text-align:center;
color:brown;
}
#I
{
text-align:center;
color:white;
}
#J
{
text-align:center;
color:#D8F781;
}
#K
{
text-align:center;
color:#088A4B;
}
#L
{
text-align:center;
color:#00FFFF;
}